      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
          <%= link_to "Account", "#", class: "dropdown-toggle data-toggle-dropdown button aria-haspopup-true aria-expanded-false" %>
          <ul class="dropdown-menu">
            <li><%= link_to "My Teams", "#" %></li>
            <li><%= link_to "My Leagues", "#" %></li>
            <li><%= link_to "Account Settings", "#" %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Help", "#" %></li>
            <li><%= link_to "Contact Us", "#" %></li>
          </ul>
        </li>